extends security-layout

block title
    title Visitors Log

block content
    .visitors-log-cont
        h3.visitors-subheader Visitors Log
        form(id="searchForm" action="/security/visitors-log/search" method="GET")
            .search-container
                input(type="text", name="searchTerm", placeholder="Enter visitor's name or code value")

        table.visitors
            tr
                th resident's name
                th code value
                th visitor's name
                th Date
                th purpose of visit
                th Code status
                th entry time
                th exit time
            each i in data
                tr
                    td #{i.name}
                    td #{i.code}
                    td #{i.visitors}
                    td 25/03/2024
                    td Plumbing
                    td #{i.status}
                    td 12:00
                    td 17:00

    script.
        
        document.getElementById('searchForm').addEventListener('submit', function(event) {
            event.preventDefault(); 

            const searchTerm = document.querySelector('input[name="searchTerm"]').value;
            
            window.location.href = `/security/visitors-log/search?searchTerm=${encodeURIComponent(searchTerm)}`;
        });
